a{
color: rgb(33, 37, 41);
text-decoration: none !important;
}

a{
transform: scale(1.4);
margin: 10px;
}

a:hover{
color: 	#6666ff;
transform: scale(1.5);
}

.block{
padding-top: 15%;
}

.content{
width: 700px !important;

}
.linkblock{
cursor: pointer;
margin-top: 10px;
}
.linkblock:hover{
transform: scale(1.02);
}